@charset "UTF-8";

#body {
    background-color: #EEE;
}

#temp_username {
    display: none;
}

#temp_tweet {
    display: none;
}

#temp_unix_time {
    display: none;
}

#template {
    background-color: #FFF;
    padding: 10px;
    margin-bottom:10px;
    border: 1px solid #333333;
    display: none;  
}

.copied {
    background-color: #FFF;
    padding: 10px;
    margin-bottom:10px;
    border: 1px solid #333333;
}